-
  var username = 'kidonng'
  var name = 'Kid'
  var description = "Hi, this is Kid. I'm a web developer at NCUHOME. / 你好，我是 Kid。我是南昌大学家园工作室的一名网页开发者。"
  var avatar = 'https://gravatar.loli.net/avatar/131ee6195713dfb178c5f0582e85a0c1?s=100'
  var background = 'https://cdn.jsdelivr.net/gh/kidonng/xuann.wang/assets/bg.webp'
  var backgroundAlt = 'Akaza Akari standing under cherry blossom trees / 赤座灯里站在樱花树下'
  var favicon = 'https://cdn.jsdelivr.net/gh/kidonng/xuann.wang/assets/favicon.png'
  var notion = 'https://www.notion.so/8934295471644607ae5f5a832682dba5'
  var channel = 'https://t.me/s/kidaydream'
  var github = 'https://github.com/kidonng'
  var ncuhome = 'https://team.ncuos.com/'
  var wikipedia = 'https://zh.wikipedia.org/wiki/User:Kidonng'
  var moegirlpedia = 'https://zh.moegirl.org/User:Kidonng'
  var telegram = 'https://t.me/kidonng'
  var avatarSourceTitle = '納涼'
  var avatarSourceLink = 'https://www.pixiv.net/artworks/69830958'
  var faviconSourceTitle = '赤座あかり'
  var faviconSourceLink = 'https://www.pixiv.net/artworks/22779959'
  var backgroundSourceTitle = 'ゆるゆり さん☆ハイ！'
  var backgroundSourceLink = `https://trace.moe/?mute&url=${background}`
  var prefetch = [
    'https://fonts.gstatic.com/',
    'https://gravatar.loli.net/',
    'https://cdn.jsdelivr.net/'
  ]

// Source / 源码 https://github.com/kidonng/xuann.wang
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    each link in prefetch
      link(rel="preconnect" href=link crossorigin)
      link(rel="dns-prefetch" href=link)
    title= username
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content=username)
    meta(property="og:description" content=description)
    meta(property="og:type" content="profile")
    meta(property="profile:first_name" content=name)
    meta(property="profile:username" content=username)
    meta(property="og:url" content="https://xuann.wang/")
    meta(property="og:image" content=background)
    meta(property="og:image:type" content="image/webp")
    meta(property="og:image:width" content="1920")
    meta(property="og:image:height" content="1080")
    meta(property="og:image:alt" content=backgroundAlt)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image:alt" content=backgroundAlt)
    link(rel="icon" type="image/png" href=favicon)
    link(rel="stylesheet" href="./style.styl")
  body
    .profile
      button.avatar(title="About / 关于")
        img(src=avatar alt="Avatar / 头像")
      div
        h1.name kidonng
        .links
          a(href=notion) Notion
          a(href=channel) Channel
          a(href=github) GitHub
    .about.hidden
      button.icon.language(title="Switch language / 切换语言")
        svg(viewbox="0 0 20 20")
          path(d="M20 18h-1.44a.61.61 0 0 1-.4-.12.81.81 0 0 1-.23-.31L17 15h-5l-1 2.54a.77.77 0 0 1-.22.3.59.59 0 0 1-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a11.62 11.62 0 0 1-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.43 13.43 0 0 1-2.91-1.41 11.46 11.46 0 0 0 2.81-5.37H12V4H7.31a4 4 0 0 0-.2-.56C6.87 2.79 6.6 2 6.6 2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 0 0 5 10.7a17.19 17.19 0 0 1-5 2.1q.56.82.87 1.38a23.28 23.28 0 0 0 5.22-2.51 15.64 15.64 0 0 0 3.56 1.77zM3.63 5.33h4.91a8.11 8.11 0 0 1-2.45 4.45 9.11 9.11 0 0 1-2.46-4.45z")
      button.icon.close(title="Close / 关闭")
        svg(viewbox="0 0 24 24")
          path(d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z")
      .english
        h2 Hi, this is Kid.
        p
          | I'm a web developer at
          |
          a(href=ncuhome) NCUHOME
          | .
        p I'm interested in all-things-tech.
        p I enjoy building things that improve our lives.
        p I love fantasying but suck at expressing.
        p
          | More about me on my
          |
          a(href=wikipedia) Wikipedia
          |  and
          |
          a(href=moegirlpedia) Moegirlpedia
          |  user page.
        h2 Sources
        ul
          li
            | Avatar:
            |
            a(href=avatarSourceLink)= avatarSourceTitle
          li
            | Favicon:
            |
            a(href=faviconSourceLink)= faviconSourceTitle
          li
            | Background image:
            |
            a(href=backgroundSourceLink)= backgroundSourceTitle
        h2 Contact
        ul
          li
            a(href=telegram) Telegram
          li
            a.email Email
      .chinese(hidden)
        h2 你好，我是 Kid。
        p
          | 我是
          a(href=ncuhome) 南昌大学家园工作室
          | 的一名网页开发者。
        p 我对科技事物有着广泛兴趣。
        p 我享受创造改善生活的事物。
        p 我喜欢幻想但拙于表达。
        p
          | 我的
          a(href=wikipedia) 维基百科
          | 和
          a(href=moegirlpedia) 萌娘百科
          | 用户页有更多有关我的信息。
        h2 出处
        ul
          li
            | 头像：
            a(href=avatarSourceLink)= avatarSourceTitle
          li
            | 页面图标：
            |
            a(href=faviconSourceLink)= faviconSourceTitle
          li
            | 背景图片：
            a(href=backgroundSourceLink)= backgroundSourceTitle
        h2 联系
        ul
          li
            a(href=telegram) Telegram
          li
            a.email 邮件
    script(src="./script.ts")
